<div class="" ng-controller="TracesCtrl as ctrl">
    
    <div class="page-title">
        <div class="title_left">
            <h3>Template basico</h3>
        </div>
    </div>
    
    <div class="clearfix"></div>
    
    <!--div ng-controller="BusyIndicatorCtrl as vm" layout="column" ng-cloak>
        <md-content layout-padding>
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate" ng-disabled="!busy"></md-progress-circular>
            </div>
        </md-content>
    </div-->
    
    <div class="row top_tiles">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-series="series" chart-options="options"
          chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-series="series" chart-options="options"
          chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-series="series" chart-options="options"
          chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-series="series" chart-options="options"
          chart-dataset-override="datasetOverride" chart-click="onClick">
        </canvas>
      </div>
    </div>
  </div>

</div>